html {
  cursor: default;
}
.episode-slideshow {
  width: 460px;
  height: 155px;
  position: relative;
}
.episode-slideshow .episode-slide {
  color: white;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.episode-slideshow .episode-slide > div {
  display: inline-block;
  float: left;
  box-sizing: border-box;
}
.episode-slideshow .episode-slide .slide-image {
  width: 20%;
}
.episode-slideshow .episode-slide .slide-image img {
  width: 100%;
  height: auto;
}
.episode-slideshow .episode-slide .slide-copy {
  width: 80%;
  padding-left: 5%;
}
.episode-slideshow .episode-slide .slide-copy h4,
.episode-slideshow .episode-slide .slide-copy h5,
.episode-slideshow .episode-slide .slide-copy h6 {
  padding: 0px;
  margin: 0px;
  font-weight: normal;
}
.episode-slideshow .episode-slide .slide-copy h4 span.info,
.episode-slideshow .episode-slide .slide-copy h5 span.info {
  float: right;
}
.episode-slideshow .episode-slide .slide-copy h4 span.title,
.episode-slideshow .episode-slide .slide-copy h5 span.title {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 225px;
}
.episode-slideshow .episode-slide .slide-copy h4 {
  font-size: 0.7em;
  line-height: 1em;
}
.episode-slideshow .episode-slide .slide-copy h5 {
  font-size: 0.6em;
  line-height: 1em;
}
.episode-slideshow .episode-slide .slide-copy .overview-box {
  height: 120px;
  position: relative;
  overflow: hidden;
}
.episode-slideshow .episode-slide .slide-copy .overview-box .read-more {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 30px 0 0;
  background-image: linear-gradient(to bottom, transparent, black);
  height: 2em;
}
.episode-slideshow .episode-slide .slide-copy p {
  font-size: 0.5em;
  line-height: 1em;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
